* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Open Sans";
}
button {
    font-family: inherit;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    background-color: rgb(98, 198, 213);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    background-color: rgb(240, 244, 243);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.category-btn{
    width: 80%;
    padding: 0.5em 1em;
    font-size: 20px;
}
.todos{
    display: grid;
    grid-template-rows: 70px;
    grid-auto-rows: 70px;
    gap: 10px;
    width: 95%;
    padding-top: 10px;
}

#add-todo-btn{
    width: 95%;
    padding: 0.5em 1em;
    font-size: 25px;
    margin-top: 10px;
}

.todo{
    width: 100%;
    font-size: 20px;
    height: 100%;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.todo-right > button{
    margin: 10px;
}
#add-todo-dialog{
    position: relative;
    width: max(40vw, 440px);
    padding: 30px;
    --dialog-background: rgb(216, 240, 244);
    background-color: var(--dialog-background);
    border: none;
    border-radius: 1vh;
    font-family: inherit;
    font-size: 18px;
    text-align: center;
}
#add-todo-dialog section{
    margin: 20px;
}
#add-todo-dialog input{
    padding: 3px;
    font-family: inherit;
    font-size: 1rem;
}
.close-btn {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    border-radius: 15px;
    border: none;
    background-color: var(--dialog-background);
    font-size: 1.2rem;
    transition: 200ms;
}
.close-btn:hover{
    font-size: 1.4rem;
}
.submit-btn{
    background-color: white;
    color: rgb(35, 34, 34);
    font-size: inherit;
    font-family: inherit;
    padding: 0.3em 2em;
    border: solid 1px black;
    border-radius: 0.3em;
    margin-top: 20px;
}
.submit-btn:hover{
    background-color: aliceblue;
}
