* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Open Sans";
}
button {
    font-family: inherit;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.sidebar,
.sidebar-main,
.sidebar-categories{
    background-color: rgb(98, 198, 213);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar button{
    display: block;
    width: 100%;
    margin: 5px;
}
.content{
    background-color: rgb(240, 244, 243);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.category-btn{
    width: 80%;
    padding: 0.5em 1em;
    font-size: 20px;
}
.todos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 95%;
    padding-top: 20px;
}

#add-todo-btn{
    width: 95%;
    padding: 0.5em 1em;
    font-size: 25px;
    margin-top: 10px;
}

.todo{
    width: 100%;
    font-size: 20px;
    height: auto;
    padding: 20px 20px;
    background-color: white;
    display: grid;
    grid-template-columns: 5fr 80px 200px;
}
.todo.completed{
    opacity: 0.5;
}

.checkbox{
    height: 20px;
    width: 20px;
}

.todo-title{
    margin-left: 10px;
}

.todo-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}
.todo > .duedate{
    font-size: 14px;
    margin-right: 20px;
    color: grey;
    margin: 0;
    display: flex;
    align-items: center;
}
.todo-left{
    display: flex;
    align-items: center;
}

.todo-details{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
.todo-details.open{
    max-height: 200px;
}
.todo-details p{
    font-size: 0.8rem;
    margin: 2px;
}

#add-todo-dialog{
    position: relative;
    width: max(40vw, 530px);
    padding: 30px;
    --dialog-background: rgb(216, 240, 244);
    background-color: var(--dialog-background);
    border: none;
    border-radius: 1vh;
    font-family: inherit;
    font-size: 18px;
    text-align: center;
}
section{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 15px;
}
section > label{
    text-align: end;
    margin-right: 10px;
}
#add-todo-dialog section#priority{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#add-todo-dialog section#confirm{
    display: block;
}
#add-todo-dialog input,
#add-todo-dialog textarea{
    padding: 3px;
    font-family: inherit;
    font-size: 1rem;
}
#add-todo-dialog textarea{
    font-size: 0.8rem;
    height: 4rem;
}
.close-btn {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    border-radius: 15px;
    border: none;
    background-color: var(--dialog-background);
    font-size: 1.2rem;
    transition: 200ms;
}
.close-btn:hover{
    font-size: 1.4rem;
}
.submit-btn{
    background-color: white;
    color: rgb(35, 34, 34);
    font-size: inherit;
    font-family: inherit;
    padding: 0.3em 2em;
    border: solid 1px black;
    border-radius: 0.3em;
    margin-top: 20px;
}
.submit-btn:hover{
    background-color: aliceblue;
}

dialog::backdrop{
    background-color: rgba(75, 75, 75, 0.4);
    backdrop-filter: blur(2px);
}

select#category{
    font-size: 1rem;
    font-family: inherit;
}